{% extends 'base.html.twig' %}

{% block title %}Edit Asset{% endblock %}

{% block body %}
    <h1 class="text-center">Editer ce trésor</h1>
    <div class="container">
   {{ include('asset/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <a href="{{ path('adventurer_index') }}">back to list</a>

    {{ include('asset/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

