
$primary: darken(#428bca, 20%);

@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
