$police-color: #2a1000;
$primary: darken(#428bca, 20%);

@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

html,
body {
    color: $police-color;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}

body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

a:hover {
    color: black;
    text-decoration: none;
    background-color: #f0efeb;
}

.card-home {
    border-color: lightgray;
    border-width: 5px;
    border-radius: 6px;
}

/*asset details*/
.photo-detail {
    width: 100%;
    object-fit: contain;
    height: 200px;
    margin: auto;
}

@media (min-width: 768px) {
    form[name="search_by_category_form"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        margin: auto;
        margin-bottom: 3px;
        .form-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0;
            margin-right: 5px;
            label {
                min-width: 120px;
                margin-right: 2px;
            }
        }
    }
    form[name="search_by_owner_form"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        margin: auto;
        margin-bottom: 3px;
        .form-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0;
            margin-right: 5px;
            label {
                min-width: 120px;
                margin-right: 2px;
            }
        }
    }
    form[name="reset"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
